.navbar-default .navbar-brand {
  color:white;
  font-size:28px;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.navbar {
  background-color:#3C8DBC;
}

.navbar-default .navbar-nav > li > a {
  color:white;
  font-size:22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color:black;
  background-color:white;
}

.navbar-default .navbar-nav > li > a:hover {
  color:black;
  background-color:white;
  text-decoration:none;
}

.well {
  background:white;
}

body {
  background-color:white;
}

#MetaTableOut { zoom: 0.80; }
#MainTableOut { zoom: 0.80; }
#ContamTableOut { zoom: 0.80; }

#FinalProcessedTable {
  zoom: 0.80;
  white-space: nowrap;
}

#ReadTableOut {
  zoom: 0.80;
  white-space: nowrap;
}

#BarTableOut { zoom: 0.80; }
#BubbleTableOut { zoom: 0.80; }